@import url("bootstrap.min.css");
@import url("magic-bootstrap.css");


.jumbotron{
	margin-top: 40px;
	background: url("../images/Hyd.jpg") bottom center no-repeat;
	background-size: cover;
	color: #FFFFFF;
}

.jumbotron h1{
	color: #FFFFFF;
	text-shadow: 0px 0px 5px #888888;
}
.reg{

	width:50%;
}
.sett{

	width:50%;
}
.cpass{

	width:50%;
}
footer{
	border-top: 1px dashed #CCCCCC;
	margin: 40px 0px;
	padding: 20px 0px;
}